@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #002055;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(#fbfbfb, #f7f7f7);
  min-height: 100vh;
}

#hero-img {
  display: block;
  width: auto;
  max-width: 100%;
  height: 50vh;
  margin: 2rem auto;
  object-fit: cover;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
}

#welcome-header {
  height: 100vh;
}

#ellipses-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
}

#welcome-header-content {
  max-width: 40rem;
  position: absolute;
  padding: 0 1rem;
  top: 10%;
  left: calc(50% - 20rem);
  z-index: 1;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#welcome-header-content h1 {
  font-size: 3.2rem;
  color: #fff;
  margin: 2rem 0;
}

.highlighted-content {
  font-weight: 900;
  color: #756ef3;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.927);
}

.primary-btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  background: linear-gradient(#8b78ff, #5451d6);
  color: #fff;
  border-radius: 14px;
  font-weight: bolder;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.638);
  transition: all 0.5s ease-out;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  background: linear-gradient(#7c69e0, #4a46b4);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 18px rgba(33, 21, 43, 0.3);
}
#welcome-content section {
  margin: 6rem 0;
  color: #696f76;
}

#welcome-content h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 2rem 0;
  color: #002055;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  color: #002055;
}

#main-header h1 {
  font-size: 2rem;
  color: #002055;
  font-weight: 700;
  text-shadow: 0 0 6px rgba(230, 229, 229, 0.927);
}

.content-highlighted {
  color: #756ef3;
  font-weight: bolder;
}

main {
  width: 80%;
  max-width: 40rem;
  margin: 1rem auto;
}

#new-task label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: #696f76;
}

#new-task input,
#new-task textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #5d548b64;
  background-color: #fff;
  color: #848a94;
  font-size: 0.8rem;
  font-family: "Quicksand", sans-serif;
}

#new-task-images {
  display: grid;
  gap: 0.86rem;
  grid-template-columns: repeat(auto-fit, 3rem);
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#new-task-images li {
  width: 3.4rem;
  height: 3.2rem;
  border-radius: 50%;
  padding: 0.2rem;
  box-shadow: 0 0 2px rgba(144, 101, 224, 0.331);
}

#new-task-images li.selected {
  border: 2px solid #756ef3a5;
}

#new-task-images li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cancel-btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 1px solid #6660d778;
  color: #002055;
  font-weight: 400;
  transition: all 0.5s ease-out;
  background-color: #fff;
  cursor: pointer;
}

.cancel-btn:hover {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.new-task-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.modal-btn {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  text-shadow: none;
}

.modal {
  top: 10%;
  border-radius: 18px;
  padding: 1.5rem;
  width: 30rem;
  max-width: 90%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border: 1px solid #8a78ff4c;
}

.modal-text-main {
  margin-top: 0;
  color: #002055;
  font-size: 1.6rem;
  font-weight: 600;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(31, 26, 36, 0.715);
  z-index: 9;
}

#tasks {
  border: 1px solid #8a78ff7d;
  box-shadow: 0 0 8px rgba(91, 55, 159, 0.066);
  padding: 1rem;
  border-radius: 14px;
  color: #8fa8d2;
}

.badge {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(251, 251, 251, 0.838);
  background-color: #78aaff;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 400;
}

#tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

#tabs button {
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  border-radius: 8px 8px 2px 2px;
  background-color: transparent;
  color: #8fa8d2;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

#tabs button:hover,
#tabs button.selected {
  background: linear-gradient(#7d69e0ee, #4a46b4ec);
  color: #fff;
  color: #fff;
}

#tabs .active-tab-indicator {
  border: 0.1px solid #ffffff;
  box-shadow: 0 0 10px rgba(14, 14, 15, 0.654);
  border-radius: 8px;
}

.task-items {
  width: 100%;
  max-width: 90%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.task-item {
  width: 100%;
}

.task-item header {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.task-item-meta {
  width: 100%;
}

.task-item header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #b1c1d9;
}

.task-item header p {
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7rem;
}

.task-item-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.task-item-actions button {
  cursor: pointer;
  font: inherit;
  background: transparent;
  border: none;
  color: #7aaafc;
  padding: 0;
}

.task-item-actions button:hover {
  color: #5d7bf2;
}

.task-item-actions .btn-negative {
  color: #ff7b7b;
}

.task-item-actions .btn-negative:hover {
  color: #ff4f4f;
}

.task-item img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.task-item-details button {
  cursor: pointer;
  font: inherit;
  background: transparent;
  border: none;
  color: #7aaafc;
  padding: 0;
}

.task-item-details-icon {
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.25rem;
}

.task-item-details.expanded .task-item-details-icon {
  transform: rotate(180deg);
}

.task-item-description {
  margin: 0;
}
